
input {
  width: 30rem;
}
.display{
  display:flex;
  justify-content: space-around;
  gap:2rem;
}

.item-row {
  display:flex;
  gap:1rem;
  align-items: center;
}

.container {
  height: 15rem;
  width: 50rem;
  padding: 1rem;
}

.form-container {
  height: 10rem;
  width: 40rem;
  padding-left: 3rem;
  display:flex;
  justify-content: space-between ;
  flex-direction: column;
}
.form-row {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 10rem;
}

.submitBtn {
  display: flex;
  align-self: end;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
